{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}About Us{% endblock title %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-6 border p-4 mr-auto">
        <h1>About</h1>
        <p class="">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam aperiam velit cum esse accusantium minus
            eius obcaecati! Modi, minima voluptate. Fugiat cum ipsam possimus voluptatem cupiditate asperiores, vel
            saepe alias.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam aperiam velit cum esse accusantium minus
            eius obcaecati! Modi, minima voluptate. Fugiat cum ipsam possimus voluptatem cupiditate asperiores, vel
            saepe alias.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam aperiam velit cum esse accusantium minus
            eius obcaecati! Modi, minima voluptate. Fugiat cum ipsam possimus voluptatem cupiditate asperiores, vel
            saepe alias.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam aperiam velit cum esse accusantium minus
            eius obcaecati! Modi, minima voluptate. Fugiat cum ipsam possimus voluptatem cupiditate asperiores, vel
            saepe alias.

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam aperiam velit cum esse accusantium minus
            eius obcaecati! Modi, minima voluptate. Fugiat cum ipsam possimus voluptatem cupiditate asperiores, vel
            saepe alias.

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam aperiam velit cum esse accusantium minus
            eius obcaecati! Modi, minima voluptate. Fugiat cum ipsam possimus voluptatem cupiditate asperiores, vel
            saepe alias.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam aperiam velit cum esse accusantium minus
            eius obcaecati! Modi, minima voluptate. Fugiat cum ipsam possimus voluptatem cupiditate asperiores, vel
            saepe alias.
        </p>
    </div>
    <div class="col-md-5 border p-4 ">
        <h1 class="">Contact us</h2>
            <!--Section description-->
            <p class=" ">Do you have any questions? Please do not hesitate to
                contact us directly. Our team will come back to you within
                a matter of hours to help you.</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-md" style="background-color: #3F729B; color: white;" value="Send">
            </form>
    </div>
    <!--Grid column-->

</div>

{% endblock content %}